@{
    ViewData["Title"] = "Home Page";
}

<div class="bookscontainer text-center">
    <section class="books">
        <h1>Book Genres We Offer</h1>
        <p id="offer">When it comes to a selecting a great book, there are plenty to choose from. But when you're a major reader, it's easy to get caught up in what seems to be an endless array of genres that sometimes seem to box you in. Do you prefer sci-fi or fantasy? (But wait, are they the same thing?) What are the key differences between a thriller and a mystery? Oh, and what does "literary fiction" even mean?</p>
        <div class="row">
            <div class="books-col">
                <h3>Classic</h3>
                <img class="book-items" src="~/images/books/To Kill a Mockingbird.jpg" onclick="document.location='Books'">
            </div>
            <div class="books-col">
                <h3>Fantasy</h3>
                <img class="book-items" src="~/images/books/Ninth House.jpg" onclick="document.location='Books'">
            </div>
            <div class="books-col">
                <h3>Action & Adventure</h3>
                <img class="book-items" src="~/images/books/The Call of the Wild.jpg" onclick="document.location='Books'">
            </div>
        </div>
    </section>
    <section class="books">
        <div class="row">
            <div class="books-col">
                <h3>Detective & Mystery</h3>
                <img class="book-items" src="~/images/books/And Then There Were None.jpg" onclick="document.location='Books'">
            </div>
            <div class="books-col">
                <h3>Horror</h3>
                <img class="book-items" src="~/images/books/Bird Box.jpg" onclick="document.location='Books'">
            </div>
            <div class="books-col">
                <h3>Romance</h3>
                <img class="book-items" src="~/images/books/Royal Holiday.jpg" onclick="document.location='Books'">
            </div>
        </div>
    </section>
    <section class="books">
        <div class="row">
            <div class="books-col">
                <h3>Historical Fiction</h3>
                <img class="book-items" src="~/images/books/Memories of a Geisha.jpg" onclick="document.location='Books'">
            </div>
            <div class="books-col">
                <h3>Literary Fiction</h3>
                <img class="book-items" src="~/images/books/Olive, Again.jpg" onclick="document.location='Books'">
            </div>
            <div class="books-col">
                <h3>Science Fiction</h3>
                <img class="book-items" src="~/images/books/The Testaments.jpg" onclick="document.location='Books'">
            </div>
        </div>
    </section>
</div>
