@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="text-align: center;">Here Are The Rules You Have to Consider <br>While Using This Website!</h1>
<div class="bodycontainer">
    <h1>@ViewData["Title"]</h1>

    <p>
        Privacy is not a new concept. Humans have always desired privacy in their social as well as private lives. <br>
        But the idea of privacy as a human right is a relatively modern phenomenon.

        Around the world, laws and regulations have been developed for the protection of data <br>
        related to government, education, health, children, consumers, financial institutions, etc.

        This data is critical to the person it belongs to. Data privacy and security binds individuals and industries together<br>
        and runs complex systems in our society. From credit card numbers and social security numbers to email addresses <br>
        and phone numbers, our sensitive, personally identifiable information is important.
    </p>
    <p>
        Privacy Policies are legally binding agreements you are required to post on your website if<br>
        you're collecting any sort of personal information from your site's visitors or customers.

        A Privacy Policy is an important legal document that lets users understand the various ways <br>
        a website might be collecting personal information. The purpose of a Privacy Policy is to inform<br>
        users of your data collection practices in order to protect the customer's privacy.

        Your Privacy Policy should disclose how the website/app collects information, how the information<br>
        is used, whether or not it is shared with third parties and how it is protected and stored.
    </p>
</div>
